<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">


    <style>
        .btn {
            margin: 10px;
        }

        h1 {
            font-family: 'Playfair Display', serif;
        }

        p,
        div {
            font-family: 'Playfair Display', serif;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="col">
            <h1 class="text-center" style="color: goldenrod"> Harry Potter Dueling Simulator </h1>
            <br>
            <p class=""> The website generates a dueling tournament using Harry Potter characters. To start the
                tournament press "Start" below.
                Then select the number of rounds you would like to have in the tournament, 2 to 5 rounds.
                Once this selection is made the tournament will be created and the first round duels will be shown,
                where you can then select what character you think will win the tournament.
                The first round will then be played where one character wins each duel based on their power,
                intelligence, skills, etc.
                Each character will use basic spells that can stun their opponent, while each character may also use a
                bonus spell which
                could increase their overall score. The character with the highest score will win the duel and move on
                to the next round and duel again.
                Each round and their according results will be prompted by you. This will continue until there is
                only one character left,
                the winner.</p>
            <br>
            <p class="">To begin the simulator and select the
                number of rounds press, the "Start" button below.</p>
            <p><a href=rounds>
                    <button style="background-color: maroon; border-color: maroon;"
                        class="btn btn-primary">Start</button>
                </a></p>
        </div>
    </div>
</body>

</html>